@model Atm.Models.WithdrawViewModel

@{
    ViewBag.Title = "Uttag";
}  

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Awesome. I have it.</h2>
    <p class="lead">Your couch.  It is mine.</p>
    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="row" style="margin-top: 20px">
    <div class="small-6 columns text-left">
        <a href="@Url.Action("Index", "BankAccount")" class="button">Kontouppgifter</a>
    </div>
    <div class="small-6 columns text-right">
        <form action="@Url.Action("LogOff", "Account")" method="post">
            @Html.AntiForgeryToken()
            <input type="submit" class="button alert" value="AVSLUTA" />
        </form>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-top: 5px">
        <div class="small-6 columns small-centered text-center">

            <div>
                <div style="position: absolute; right: 0px; top: -20px; transform: rotate(-30deg); -webkit-transform: rotate(-30deg)">
                    <i class="fi-dollar-bill" style="font-size: 70px"></i>
                </div>
                <div style="position: absolute; right: -5px; top: 0px; transform: rotate(-10deg); -webkit-transform: rotate(-10deg)">
                    <i class="fi-dollar-bill" style="font-size: 70px"></i>
                </div>
                <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 70px">
                    Bankomaten
                </h1>
            </div>
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row" style="margin-top: 50px">
        <div class="small-12 medium-8 columns small-centered text-center">
            <h2>@Html.DisplayNameFor(m => m.Amount)</h2>
        </div>
    </div>
 
   
    <div class="row">
        <div class="small-6 medium-3 columns small-centered">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "amount", value = 0, min = 0, max = ViewBag.SliderMaxValue } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-8 columns small-centered">
            <div class="row collapse">
                <div class="small-1 columns">
                    <div class="button secondary" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px">0</div>
                </div>
                <div class="small-10 columns text-left" style="padding-left: 20px">
                    <div class="range-slider" data-slider data-options="display_selector: #amount; initial: 0; step: @ViewBag.Step; start: 0; end: @ViewBag.SliderMaxValue">
                        <span class="range-slider-handle" role="slider" tabindex="0"></span>
                        <span class="range-slider-active-segment"></span>
                    </div>
                </div>
                <div class="small-1 columns">
                    <div class="button secondary" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px">@ViewBag.SliderMaxValue</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 70px">
        <div class="small-12 medium-4 columns small-centered text-center">

            <ul class="pricing-table" style="font-size: 15px">
                <li class="title">Kvitto</li>
                <li class="description">
            @if (@ViewBag.receiptLeft)
            {
                        <div class="row collapse" style="margin-top: 20px">
                            <div class="small-4 columns text-right">
                            @Html.EditorFor(model => model.PrintReceipt)
                        </div>
                            <div class="small-8 columns text-left" style="padding-left: 20px">
                                @Html.LabelFor(model => model.PrintReceipt, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>

            }
                    <div class="row collapse">
                        <div class="small-4 columns text-right">
                        @Html.EditorFor(model => model.EmailReceipt)
                    </div>
                        <div class="small-8 columns text-left" style="padding-left: 20px">
                            @Html.LabelFor(model => model.EmailReceipt, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
                </li>
            </ul>

            <div class="form-group" style="margin-top: 70px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="ok" value="Bekräfta" class="button expand" />
                    @ViewBag.ErrMsg
                </div>
            </div>
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
