@model IEnumerable<Atm.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

@foreach (var account in Model)
{
    <div id="myModal@(account.Name)Transactions" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h3>@account.Name</h3>
        <p>Utskriftsdatum: @(DateTime.Now.ToString("yyyy-MM-dd"))</p>
        <div class="row collapse">
            <div class="small-12 columns">
                <h5>Transaktioner:</h5>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 columns">
                Tid
            </div>
            <div class="small-4 columns">
                Typ
            </div>
            <div class="small-4 columns text-right">
                Belopp
            </div>
        </div>
        @foreach (var transaction in account.Transactions.Take(25))
        {
            <div class="row collapse">
                <div class="small-4 columns">
                    @transaction.TransactionTime
                </div>
                <div class="small-4 columns">
                    @transaction.TransactionType
                </div>
                <div class="small-4 columns text-right">
                    @transaction.Amount.ToString("### ###") SEK
                </div>
            </div>
        }
        <div class="row collapse">
            <div class="small-4 columns">
                &nbsp;
            </div>
        </div>
        <a class="close-reveal-modal button" style="font-size: 20px; color: white; top: 30px" aria-label="Close">Tag utskrift</a>
    </div>

    <div id="myModal@(account.Name)Balance" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h3>@account.Name</h3>
        <p>Utskriftsdatum: @(DateTime.Now.ToString("yyyy-MM-dd"))</p>
        <div class="row collapse">
            <div class="small-12 columns">
                <h5>Saldo: @account.Balance.ToString("### ###") SEK</h5>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 columns">
                &nbsp;
            </div>
        </div>
        <a class="close-reveal-modal button" style="font-size: 20px; color: white; top: 30px" aria-label="Close">Tag utskrift</a>
    </div>
}


<div class="row" style="margin-top: 20px">

    <div class="small-6 columns text-left">
        <a href="@Url.Action("Create", "Withdraw")" class="button"><i class="fi-arrow-left"></i> BAKÅT</a>
    </div>



    <div class="small-6 columns text-right">
        <form action="@Url.Action("LogOff", "Account")" method="post">
            @Html.AntiForgeryToken()
            <input type="submit" class="button alert" value="AVSLUTA" />
        </form>
    </div>

</div>
<div class="row" style="margin-top: 5px">
    <div class="small-6 columns small-centered text-center">

        <div>
            <div style="position: absolute; right: 0px; top: -20px; transform: rotate(-30deg); -webkit-transform: rotate(-30deg)">
                <i class="fi-dollar-bill" style="font-size: 70px"></i>
            </div>
            <div style="position: absolute; right: -5px; top: 0px; transform: rotate(-10deg); -webkit-transform: rotate(-10deg)">
                <i class="fi-dollar-bill" style="font-size: 70px"></i>
            </div>
            <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 70px">
                Bankomaten
            </h1>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px">
    <div class="small-8 columns small-centered">
        <h4>&nbsp;&nbsp;&nbsp;Här ser du dina bankkonton:</h4>
    </div>

</div>
<div class="row">
    <div class="small-8 columns small-centered">
        <ul class="accordion" data-accordion>
            @{int i = 1;}
            @foreach (var account in Model)
    {
                <li class="accordion-navigation">
                    <a href="#panel@(i)a">
                        <div class="row collapse">
                            <div class="small-6 columns">
                                <span style="font-size: 25px"><b>@account.Name</b></span><br />
                                Kontonummer: @account.AccountNumber
                            </div>
                            <div class="small-6 columns text-right">
                                &nbsp;<br />
                                Saldo: @account.Balance.ToString("### ###") SEK
                            </div>
                        </div>
                    </a>
                    <div id="panel@(i)a" class="content @(account.WithdrawAccount ? "active" : "")">
                        <div class="row collapse">
                            <div class="small-12 columns text-right">
                                <a href="#" data-reveal-id="myModal@(account.Name)Balance" class="button">Skriv ut saldo</a>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 columns">
                                <h5>Transaktioner:</h5>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-4 columns">
                                Tid
                            </div>
                            <div class="small-4 columns">
                                Typ
                            </div>
                            <div class="small-4 columns text-right">
                                Belopp
                            </div>
                        </div>
                        @foreach (var transaction in account.Transactions.Take(5))
                {
                            <div class="row collapse">
                                <div class="small-4 columns">
                                    @transaction.TransactionTime
                                </div>
                                <div class="small-4 columns">
                                    @transaction.TransactionType
                                </div>
                                <div class="small-4 columns text-right">
                                    @transaction.Amount.ToString("### ###") SEK
                                </div>
                            </div>
                }
                        <div class="row collapse" style="margin-top: 10px">
                            <div class="small-12 columns text-right">
                                <a href="#" data-reveal-id="myModal@(account.Name)Transactions" class="button">Skriv ut transaktioner</a>
                            </div>
                        </div>
                    </div>
                </li>
                i++;
    }
        </ul>
    </div>
</div>
