@model IEnumerable<Atm.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top: 20px">

    <div class="small-6 columns text-left">
        <a href="@Url.Action("Create", "Withdraw")" class="button"><i class="fi-arrow-left"></i> BAKÅT</a>
    </div>



    <div class="small-6 columns text-right">
        <form action="@Url.Action("LogOff", "Account")" method="post">
            @Html.AntiForgeryToken()
            <input type="submit" class="button alert" value="AVSLUTA" />
        </form>
    </div>

</div>
<div class="row" style="margin-top: 5px">
    <div class="small-6 columns small-centered text-center">

        <div>
            <div style="position: absolute; right: 0px; top: -20px; transform: rotate(-30deg); -webkit-transform: rotate(-30deg)">
                <i class="fi-dollar-bill" style="font-size: 70px"></i>
            </div>
            <div style="position: absolute; right: -5px; top: 0px; transform: rotate(-10deg); -webkit-transform: rotate(-10deg)">
                <i class="fi-dollar-bill" style="font-size: 70px"></i>
            </div>
            <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 70px">
                Bankomaten
            </h1>
        </div>
    </div>
</div>

<table class="table" style="margin-left: auto; margin-right:auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
            <td>

                @foreach (var transaction in item.Transactions)
                {

                    @Html.DisplayFor(modelItem => transaction.TransactionTime) <br />
                    @Html.DisplayFor(modelItem => transaction.TransactionType)                   
                    @Html.DisplayFor(modelItem => transaction.Amount)                    <br />

                }
            </td>
        </tr>

    }
</table>
<div class="small-6 columns text-center">
    <a href="@Url.Action("Index", "BankAccount")" class="button"> Skriv Ut Senaste 25 Transaktionerna</a>
</div>